<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Position</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="position-section">
        <h1>ผู้บริหารระดับสูง (CEO, COO, CFO)</h1>
        <p>นาย อินทรัตน์ นิลรัตน์</p>
        <p>นาย กฤตเมธ อุปทุม</p>
        <p>นาย ณัฐวุฒิ เพิ่มพูล</p>

        <h1>ผู้จัดการฝ่ายทรัพยากรบุคคล</h1>
        <p>นาย ธนวัฒน์ คลองข่อย</p>

        <h1>ผู้จัดการฝ่ายการเงิน</h1>
        <p>นาย นราวิชญ์ อินทุทรัพย์</p>

        <h1>ผู้จัดการฝ่ายการตลาด</h1>
        <p>นาย พสธร พิทักษ์อร่ามวงศ์</p>

        <h1>พนักงานฝ่ายไอที</h1>
        <p>นายลาภวัต กองศรี</p>
        <p>นายนาราภัทร ใจเมือง</p>

        <h1>พนักงานฝ่ายบัญชี</h1>
        <p>นาย รัณฌาย์ ชัยประพันธ์</p>
        <p>นาย ศักดิ์ประเวศ แป๊ะวงศ์</p>
    </section>
</body>
</html>
