<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="contact-section">
        <h1>Address</h1>
        <div class="contact-item"><i class="fa fa-envelope"></i>ชื่อบริษัท: BT Company</div>
        <div class="contact-item"><i class="fa fa-envelope"></i>ที่อยู่อีเมล: info@btcompany.com</div>
        <div class="contact-item"><i class="fa fa-envelope"></i>ฝ่ายไอที: it@btcompany.com</div>
        <div class="contact-item"><i class="fa fa-envelope"></i>ฝ่ายการเงิน: finance@btcompany.com</div>
    </section>
</body>
</html>
